.project-details {
  color: #a2d8f6;
  letter-spacing: 1.5px;
  background-color: #2570b0;
  padding: 20px;
  border-radius: 8px;
  display: grid;
  grid-gap: 10px 30px;
  justify-content: center;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-bottom: 10px;
}

.project-details .details-field {
  font-size: .9rem;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(85, 191, 248, 0.26);
}


.allocations {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: small;
  table-layout: fixed;
  border-radius: 8px;
  margin: 10px 0px;
}
.allocations th,
.allocations td {
  padding: 14px;
  background-color: #a2d8f6;
  border-bottom: 2px solid white;
  word-wrap: break-word;
  /* border-radius: 2px; */
}
.allocations tbody {
  color: #2570b0;
}

.allocations th {
  background-color: #2570b0;
  color: white;
  font-weight: lighter;
}

.allocations input[type="text"],
.allocations input[type="date"] {
  width: 100%;
  padding: 6px;
  /* border: none; */
}
.allocations th:first-child,
.allocations td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.allocations th:last-child,
.allocations td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.allocations tbody tr:hover {
  background-color: red;
}

.btn {
  font-size: small;
  margin-left: 2px;
}

.btnicon {
  width: 100%;
  color: #2570b0;
  text-align: center;
}
.btnicon:hover {
  cursor: pointer;
  color: rgb(255, 59, 59);
  /* border-radius: 50px; */
  /* background-color: #2570b0; */
}
.allocations tbody tr:hover {
  /* letter-spacing: 1.5px; */
  font-weight: bolder;
  cursor: pointer;
}

