* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}
input,
button,
textarea,
select,
option {
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  height: 100vh;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vflex {
  flex-direction: column;
}
.btn {
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.btn:hover{
  color: white;
}

.btn::before {
  content: "";
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  color: #c5c5c5;
  background-image: linear-gradient(to right, #21a9c7 0%, #156ccf 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.btn:hover::before {
  width: 9em;
}

::-webkit-scrollbar {
  width: 7.5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #256fb073;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #256fb0dc;
  border-radius: 25px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
